
body {
    margin: 0;
    line-height: normal;
}

.logo-icon {
    width: 32px;
    position: relative;
    height: 32px;
}
.home {
    position: relative;
    line-height: 22px;
    font-weight: 600;
}
.topnavbutton {
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.tnbc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}
.topnav {
    align-self: stretch;
    background-color: #4579cb;
    height: 56px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px;
    box-sizing: border-box;
    font-size: 18px;
}
.canadian-charity-that {
    align-self: stretch;
    position: relative;
    line-height: 42px;
    font-weight: 600;
}
.worldlove24-runs-over {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.htc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    max-width: 800px;
}
.fwp {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 24px;
    background-image: url('./assets/image/heroimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.hap-icon {
    width: 332px;
    position: relative;
    border-radius: 8px;
    height: 240px;
    object-fit: cover;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
}
.worldlove24-foundation-of {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    color: #47556b;
}
.hatc {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    min-width: 300px;
    max-width: 600px;
}
.hac {
    align-self: stretch;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 72px 24px;
    gap: 24px;
    color: #152e56;
}
.we-welcome-donors {
    margin: 0;
}
.the-idea-of {
    align-self: stretch;
    position: relative;
    line-height: 22px;
}
.aac2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    min-width: 300px;
    max-width: 600px;
    font-size: 16px;
    color: #47556b;
}
.aac {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 72px 24px;
    gap: 24px;
    color: #152e56;
}
.school-icon {
    width: 100px;
    position: relative;
    height: 100px;
}
.schools {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.sc {
    width: 240px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.bc {
    align-self: stretch;
    background-color: #2d599f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 72px 24px;
    gap: 24px;
    text-align: center;
}
.button {
    align-self: stretch;
    border-radius: 8px;
    background: linear-gradient(180deg, #6e99de, #4579cb);
    border-top: 2px solid #95b6ea;
    box-sizing: border-box;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.adci {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    min-width: 300px;
    max-width: 600px;
}
.adc {
    align-self: stretch;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 24px;
    color: #152e56;
}
.footerlogo-icon {
    width: 202px;
    position: relative;
    height: 48px;
}
.get-exclusive-updates {
    align-self: stretch;
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.frame-child {
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 40px;
}
.button1 {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
    box-sizing: border-box;
}
.frame-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    font-size: 18px;
    color: #4579cb;
}
.ftcta {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0px;
    box-sizing: border-box;
    gap: 24px;
    min-width: 300px;
    max-width: 600px;
    text-align: left;
    font-size: 24px;
}
.mdiinstagram-icon {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.mdiinstagram-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.worldlove24gmailcom {
    position: relative;
    line-height: 22px;
}
.ftctb {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 16px 0px;
    box-sizing: border-box;
    gap: 12px;
    min-width: 300px;
}
.ftct {
    align-self: stretch;
    border-bottom: 1px solid #87a9de;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 32px 64px;
}
.copyright-2024-donstudenthome {
    align-self: stretch;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}
.footer {
    align-self: stretch;
    background-color: #4579cb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 16px;
    text-align: center;
    font-size: 16px;
}
.about {
    width: 100%;
    position: relative;
    background-color: #ebf1fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 36px;
    color: #fff;
    font-family: Roboto;
}

#topnavbuttonContainer2 {
    color: #ffffff;
}

#topnavbuttonContainer1 {
    color: #C6D4EC;
}
#topnavbuttonContainer {
    color: #C6D4EC;
}
